.board-column {
  background-color: rgba(202, 206, 213, 0.8);
  position: relative;
  margin: 10px;
  border-radius: 5px;
  min-width: 300px;
  min-height: 400px;
  padding: 20px;
  padding-top: 50px;
  display: flex;

  &__name {
    color: #1c2640;
    font-weight: bold;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 14px;
    top: 10px;
  }

  &__task {
    flex: 1;
    max-height: 105px;
    padding: 20px;
    margin-bottom: 10px;
    overflow-y: auto;
    font-size: 1.1rem;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    box-shadow: 2px 3px 10px -2px rgba(22, 22, 22, 0.3);

    &--todo {
      border-left: 6px solid #366cb4;
    }
    &--in-progress {
      border-left: 6px solid #ef7e2e;
    }
    &--in-review {
      border-left: 6px solid #ffeb3b;
    }
    &--done {
      border-left: 6px solid #2d8c30;
    }
  }
}
