<div class="task-track">
  <h1 class="task-track__header">Task tracking board</h1>
  <div (click)="createNewTask()" class="btn btn--primary">Create new</div>
  <div class="task-track__board">
    <board-column 
      *ngFor="let category of tasks" 
      [items]="category.tasks" [allTasks]="allTasks" 
      [name]="category.name" 
      [status]="category.id"
      (deletedTask)="deleteTask($event)"
      (updatedTask)="updateTask($event)"
      (updatedTaskStatus)="updateTaskStatus($event)"></board-column>
  </div>
</div>